.podm_myra_blurb { padding-bottom: 66px; }

.et_pb_myra_blurb_image img { width: 100%; }

.et_pb_myra_blurb_content {
	padding: 60px 70px 50px;
	color: white;
	line-height: 28px;
	font-size: 16px;
}

.et_pb_myra_blurb_heading {
	font-size: 30px;
	color: #29d9ff;
}

.myra-blurb-button {
    display: block;
    float: right;
    background: green;
    height: 67px;
    position: relative;
	z-index: 999;
	*overflow: hidden;
}

.myra-blurb-button .myra-blurb-button-arrow {
    height: 67px;
    width: 67px;
    display: flex;
    align-items: center;
    background: #7dff54;
    justify-content: center;
    font-size: 40px;
    line-height: 10px;
    color: #002b4a;
}

.myra-blurb-button-arrow:after,.myra-button-arrow:after{
    font-family: ETmodules!important;
    content: "$";
    position: absolute;
    transform: translateY(2px);
}

.myra-blurb-button-title {
	height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7dff54;
    position: absolute;
    padding: 0 18px;
	padding-right: 0;
	width: 0px;
	overflow: hidden;
    top: 0;
    z-index: -1;
	right: 0;
	color: #002b4a;
	font-family: "Montserrat Extrabold";
	font-size: 14px;
}

.myra-blurb-button:hover .myra-blurb-button-title {
    width: 130px;
    min-width: 100px;
	right: 67px;
	transition: right ease-out .2s;
}


.et_pb_myra_button {
    display: inline-flex;
    color: white;
}

.et_pb_myra_button span{
    background: #002B4A;
    display: inline-flex;
    height: 48px;
    padding: 12px;
}
.myra-button-text{ font-family: "Montserrat Extrabold"; }
.et_pb_myra_button .myra-button-arrow{
    background: #7dff54;
    color: #002B4A;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 768px){
    .et_pb_myra_blurb_content{ padding: 30px 22px 30px !important; }
}
